<!-- flexbox -->

<section class="row cm-operacoes-menu">
     <div class="col-xs-6" (click)="imprimir()">
        <sc-card>
            <img src="assets/images/ico-saque.svg">
            <sc-card-content>
                <p>01 - Saque</p>
            </sc-card-content>
        </sc-card>
    </div>
    
    <div class="col-xs-6">
        <div routerLink="/depositos/informar-conta" routerLinkActive="active"  class="ss-card">
            <img src="assets/images/ico-deposito.svg">
            <p>02 - Depósito</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="ss-card">
            <img src="assets/images/ico-default.png">
            <p>04 - Títulos</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="ss-card">
            <img src="assets/images/ico-default.png">
            <p>05 - Convênios</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="ss-card">
            <img src="assets/images/ico-default.png">
            <p>91 - Produtos e serviços</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="ss-card">
            <img src="assets/images/ico-default.png">
            <p>92 - Operações do terminal</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="ss-card">
            <img src="assets/images/ico-default.png">
            <p>93 - Situação do terminal</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="ss-card">
            <img src="assets/images/ico-default.png">
            <p>94 - Manutenção dos terminais</p>
        </div>
    </div>

</section>
