<section class="ss-grid cm-confirmacao-deposito">
    <div class="col-12">
        <h6 class="ss-align-center">CONFIRMAR DADOS</h6>
    </div>
    <div class="col-12">
        <div class="ss-card">
            <p>QUEM RECEBE</p>
            <div class="cm-list cm-list-divisor">
                <div class="cm-list-img"><i class="material-icons md-36">person</i></div>
                <div class="cm-list-info">
                    <small class="cm-list-tag">Conta nº: 00000-0</small>
                    <p class="cm-list-item">Valmir Damaceno Correa</p>
                    <small class="cm-list-tag">Cliente desde: 22/01/2018</small>
                </div>
            </div>
            <p>DEPOSITANTE</p>
            <div class="cm-list cm-list-divisor">
                <div class="cm-list-img"><i class="material-icons md-36">person</i></div>
                <div class="cm-list-info">
                    <small class="cm-list-tag">Conta nº: 00000-0</small>
                    <p class="cm-list-item">Valmir Damaceno Correa</p>
                    <small class="cm-list-tag">Cliente desde: 22/01/2018</small>
                </div>
            </div>
            <div class="ss-align-center">
                <p class="cm-margin-reset">VALOR</p>
                <h3 class="cm-margin-reset cm-deposito-valor">R$ 1.200,00</h3>
            </div>
            <button class="ss-btn ss-btn-success" (click)="confirmar()">CONFIRMAR <i class="material-icons">check</i></button>
        </div>
    </div>
</section>
