<section class="ss-grid app-cm-content cm-sucesso-deposito">
    <div class="col-12">
        <div>
            <a href="#" class="material-icons cm-btn-close">clear</a>
        </div>
        <img src="assets/images/ico-confirmado.svg" alt="ico-confirmado"/>
        <h5>SUCESSO</h5>
        <h6>Seu pagamento foi confirmado.<br/>Obrigado :)</h6>
        <button (click)="voltarInicio()"  class="ss-btn ss-btn-success">CONCLUIR <i class="material-icons ss-icon-right">arrow_forward</i></button>
    </div>
</section>
