
<section class="cm-informa-conta">
<div class="col-12">
    <h6>DEPÓSITO EM CONTA</h6>
</div>
<div class="col-12">
    <div class="ss-card">
        <img src="assets/images/bg-informa_conta.png">
        <p>INFORME O Nº DA CONTA</p>
        <div class="ss-form-group">
            <input id="default-input" type="text" class="ss-form-control" aria-label="Default input">
            <!-- <small>Conta não encontrada.</small> -->
            <img class="material-icons" src="assets/images/ico-person.svg" />
        </div>
        <a href="app-cm-dados_deposito.html" class="ss-btn ss-btn-success">CONSULTAR <i class="material-icons">arrow_forward</i></a>
    </div>
</div>
</section>
